body{
    width: 900px;
    margin:0 auto;
    border: 1px solid green;
    padding:10px;
}

input[type="button"]{
    color: white;
    background-color: red;
    box-shadow: 2px 3px;
}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}